<!-- Your HTML template for the Rasa user chat widget -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rasa User Chat Widget</title>
    <!-- Include Socket.IO library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <!-- Your chat widget content here -->
    <div id="rasa-chat-widget" data-websocket-url="https://your-rasa-url-here/"></div>
    <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>

    <script>
        // Connect to the Socket.IO server
        const socket = io.connect('http://127.0.0.1:5000');

        // Example: Listen for the 'receive_message' event
        socket.on('receive_message', function (data) {
            // Handle the received message (e.g., display it in the chat widget)
            console.log('Received message:', data.message);
        });
    </script>
</body>
</html>
